/*Inställningar för hur frågorna ska se ut */
.question-box {
    max-width: 300px;
    background-color: #dedede;
    padding: 25px 20px;
    margin-bottom: 10px;
    text-align: left;
    /*centers the element*/
    margin-left: auto;
    margin-right: auto;
}

.teacher-question-box{
    width: 70%;
    background-color: #dedede;
    padding: 5px 20px;
    margin-bottom: 10px;
    text-align: left;
    /*centers the element*/
    margin-left: auto;
    margin-right: auto;
}