html{
	font-family: sans-serif, serif;
    padding:0;
    margin:0;
}

header {
    text-align: center;
}

main {
    margin: 30px;
}

main div, form input[type="submit"] {
    text-align: center;
    margin: auto;
}

section select, section input{
	text-align: left;
}

.question-box {
    max-width: 300px;
    background-color: #dedede;
    padding: 5px 20px;
    margin-bottom: 10px;
    text-align: left;
    /*centers the element*/
    margin-left: auto;
    margin-right: auto;
}