<h1>Välkommen : {{name}} </h1>
<section class="col-md-6">
    <h2>Random1</h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#studentTab">Student</a></li>
        <li><a data-toggle="tab" href="#teacherTab">Lärare</a></li>
        <li><a data-toggle="tab" href="#adminTab">Administratör</a></li>
    </ul>
    <article class="tab-content table-max-height-400">

        <article id="studentTab" class="tab-pane fade in active ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Förnamn</th>
                        <th>Efternamn</th>
                        <th>Class</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in users" ng-if="student.occupation == 'Student'">
                        <td>{{student.firstName}}</td>
                        <td>{{student.lastName}}</td>
                        <td>{{}}</td>
                        <td>{{student.username}}</td>
                        <td>{{student.password}}</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article id="teacherTab" class="tab-pane fade">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Förnamn</th>
                        <th>Efternamn</th>
                        <th>Ämne</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teacher in users" ng-if="teacher.occupation == 'Teacher'">
                        <td>{{teacher.firstName}}</td>
                        <td>{{teacher.lastName}}</td>
                        <td>{{}}</td>
                        <td>{{teacher.username}}</td>
                        <td>{{teacher.password}}</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article id="adminTab" class="tab-pane fade">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Förnamn</th>
                        <th>Efternamn</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="admin in users" ng-if="admin.occupation == 'Admin'">
                        <td>{{admin.firstName}}</td>
                        <td>{{admin.lastName}}</td>
                        <td>{{admin.username}}</td>
                        <td>{{admin.password}}</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </article>
    <button> Lägg till användare</button>
    <button class="pull-right"> Ta bort användare</button>
</section>
<section class="col-md-6 ">
    <h2> Hej Hej {{3+3}}</h2>
    <article class="table-max-height-400">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Startdatum</th>
                    <th>Slutdatum</th>
                    <th>Klass</th>
                    <th>Skicka ut</th>
                </tr>
            </thead>
            <tbody class="">
                <tr ng-repeat="(testIndex, tests) in tests">
                    <td>
                        {{tests.examName}}
                    </td>

                    <td>
                        <select>
                            <option value="">2015-01-01</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option value="">2015-01-01</option>
                        </select>
                    </td>

                    <td>
                        {{tests.class}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Skicka</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Elever att skicka till</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form ng-submit="">
                                            <div class="" ng-repeat="student in users" ng-if="student.occupation == 'Student'">
                                                <form>
                                                    <input type="checkbox"> {{student.firstName}} {{student.lastName}}
                                                </form>
                                            </div>
                                            <input type="button" value="Skicka ut prov" ng-click="sendTest(send);" />
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><input type="button" class="btn btn-primary" value="Ta bort" data-ng-click="removeRow(testIndex)" /></td>
                </tr>

            </tbody>
        </table>

    </article>
</section>