

    <div class="container">
        <h2>Studentsida</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Gör provet!</button>
        <p>FUCK YEAH SADJASDJADJ JSDJKSAJ
            <p>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <form ng-submit="">
                                    <div class="question-box" ng-repeat="question in questions">
                                        <h1>{{question.question}}</h1>
                                        <table>
                                            <tbody ng-repeat="answers in question.answers">
                                                <tr>
                                                    <td><input type="{{questionType(question.type)}}" name="" value="" />{{answers.answerText}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <p>Score: {{question.score}}</p>
                                    </div>
                                    <input type="submit" value="Skicka in" />
                                </form>
                                <div>{{}}AmoutOfQLeft() frågor kvar att besvara</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

    </div>
