<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Iteration 1</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../lib/unsemantic-grid-responsive-tablet.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/studentController.js"></script>

</head>

<body ng-app="indexApp" ng-controller="studentController">

    <div class="container">
        <h2>Studentsida</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="timeController()">Gör provet!</button>
        <p>FUCK YEAH SADJASDJADJ JSDJKSAJ
            <p>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body" >
                                <h3>{{startTime}}</h3>
                                <p>{{time}}</p>
                                <form ng-submit="" >
                                    <div class="question-box" ng-repeat="question in questions">
                                        <h1>{{question.question}}</h1>
                                        <table>
                                            <tbody ng-repeat="answers in question.answers">
                                                <tr>
                                                    <td><input type="{{questionType(question.type)}}" name="" value="" />{{answers.answerText}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <p>Score: {{question.score}}</p>
                                    </div>
                                    <input type="submit" value="Skicka in" />
                                </form>
                                
                                <div>{{}}AmoutOfQLeft() frågor kvar att besvara</div>                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

    </div>

</body>

</html>