

<section class="container">
    <article class="row headercss">
        <h1 class="headercss"><img src="http://www.newton.se/content/themes/newton/assets/img/pngs/logo-footer.png" alt="Logo" />
    Välkommen: {{TeacherName}} 
    <button style="display: inline" ng-click="logout()" id="LogOut" type="button type" class="pull-right btn btn-info btn-lg"> Logout</button>
</h1>
</section>

<section class="container main-teacher-layout">
    <article class="row">
        <p class="col-md-4">
            <input type="text" placeholder="Filtrera efter quiz" class="text-box" ng-model="searchQuiz">
        </p>
        <p class="col-md-4">
            <input type="text" placeholder="Filtrera efter ämne" class="text-box" ng-model="searchSubject">
        </p>
    </article>

    <article class="row">
        <table class="table table-hover max-height-test-panel">
            <thead>
                <tr class="row">
                    <th class="col-md-3 col-xs-3">Quiz</th>
                    <th class="col-md-3 col-xs-3">Ämne</th>
                    <th class="col-md-3 col-xs-3">Tid</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" ng-repeat="quiz in exams | filter: {name: searchQuiz} | filter: {subject: searchSubject}">

                    <td class="col-md-3 col-xs-3">{{quiz.name}}</td>
                    <td class="col-md-3 col-xs-3">{{quiz.subject}}</td>
                    <td class="col-md-3 col-xs-3">{{quiz.time + ' sekunder'}}</td>
                    <td class="col-md-1 col-xs-1">
                        <button ng-click="editExam(quiz)" data-toggle="modal" data-target="#ExamComp">Redigera</button>
                    </td>
                    <div id="ExamComp" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <article class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h1 class="modal-title">{{currnetExamForEditing.name}}</h1>
                                </article>
                                <article class="modal-body">
                                    <article ng-repeat="x in editQuestions">
                                        <input type="text" name="" ng-model="x.text" class="teacher-question-box form-control">
                                        <br>

                                        <form action="demo_form.asp">
                                            <input type="file" name="pic" accept="image/*">
                                        </form>
                                        <select ng-model="selectedOption" ng-options="option.name for option in options"> </select>
                                        <article ng-repeat="y in x.answers">
                                            <article>
                                                <form class="answer-text row">
                                                    <div class="col-xs-1">
                                                        <input name="{{$index}}" type="{{x.type = selectedOption.value}}">
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <input type="text" value=" {{y.text}}" ng-model="y.text">
                                                        <input class="examScore" type="number" placeholder="Poäng" value="{{y.score}}" ng-model="y.score">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <button class="btn" ng-click="RemoveAnswer(x,y)">Ta bort</button>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input type="checkbox" value="right answer"> Rätt svar
                                                    </div>
                                                </form>
                                            </article>
                                        </article>
                                        <button ng-click="addAnswer(x)" class="add-btn">Lägg Till svar</button>
                                        <p>==================</p>
                                    </article>
                                    <button ng-click="AddNewQuestion()" type="button" class="btn btn-default">Lägg till fråga</button>
                                </article>
                                <article class="modal-footer">
                                    <button type="button" ng-click="updateExamsList()" class="btn btn-default" data-dismiss="modal">Stäng</button>
                                </article>
                            </div>
                        </div>
                    </div>

                    <td class="col-md-1 col-xs-1">
                        <button ng-click="removeQuiz(quiz.name, quiz.author);">X</button>
                    </td>
                    <td class="col-md-1 col-xs-1">
                        <button ng-if="quiz.sentToAdmin===true " class="grayButton ">Skicka</button>
                        <button ng-if="quiz.sentToAdmin===false " ng-click="SendExam(quiz) ">Skicka</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>


    <article>
        <form ng-submit="newQuizSubmit()" class="row ">
            <input class="col-md-3 col-xs-3" type="text" ng-required="true" ng-model="newQuizName" placeholder="Namn">
            <input class="col-md-3 col-xs-3" ng-required="true" ng-model="newQuizSubject" list="Courses">
            <datalist id="Courses">
                <option value="Fysik ">
                    <option value="Datorkunskap">
                        <option value="Svenska">
                            <option value="Bild">
                                <option value="Matematik">
                                    <option value="Idrott">
            </datalist>
            <input class="col-md-3 col-xs-3" type="number" ng-required="true" ng-model="newQuizTime" placeholder="Tid ">
            <input class="col-md-3 col-xs-3" ng-click="AddExamsToList()" type="button" value="Lägg till nytt prov ">
        </form>
    </article>
</section>

